data/
signal_compare/

compressed_signals/build/
*.b2sig
*.duckdb
*.exe
*.dll
*.a
*.o
*.obj

!signal_compare/dependencies/**

*.h5
*.h5b2
*.duckdb
*.parquet
*.bin
*.b2sig

*.jl.cov
*.jl.*.cov

*.jl.mem

deps/deps.jl
deps/build.log
deps/downloads/
deps/usr/
deps/src/

docs/build/
docs/site/

.vscode/
CMakeUserPresets.json
internal/CMakeUserPresets.json
vcpkg_installed/

signal_compare/build/

Manifest.toml

build/
internal/build/
/duckdb/
build_converter/
!docs/static/img/